/* SKILLS */

#skills {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    margin-top: 40px;
}

.skill-card {
    background: rgba(255,255,255,0.03);
    padding: 30px;
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.1);
    text-align:center;
    transition: transform .3s ease;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-card.highlight {
    border:1px solid var(--primary);
    box-shadow:0 0 15px rgba(99,102,241,0.1);
}

.badges{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
}

.badges span{
    background:#334155;
    padding:6px 12px;
    border-radius:8px;
    font-size:.85rem;
}

.badges .learning{
    background:var(--primary);
    color:white;
}
.redes a {
    color: var(--light); 
    font-size: 1.5rem;   /* Ajusta el tamaño de los iconos */
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.redes a:hover {
    color: var(--secondary); /* Cambian de color al pasar el mouse */
    transform: translateY(-3px); /* Pequeño salto animado */
}


